{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.4"}}
 :aliases {:build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.4"}
                                slipset/deps-deploy           {:mvn/version "0.2.1"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts   ["-m" "kaocha.runner"]}}}
